@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0 20px;
    color: #323B42;
    font-family: 'Roboto';
    -webkit-user-select: none;
}
h1 {
    text-decoration: none;
    padding-top: 20px;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: #92D33B;//#0BF;
}
a:hover {
    text-decoration: none;
    color: #9CF;
}

header {
    text-align: center;
}

img {
    max-width: 70%;
}

table th, table td {
    text-align: left;
    padding: 0;
}

table.big td {
    padding: 5px 0;
}

hr {
    border: 1px dashed #222;
}

.footer {
    text-align: center;
    line-height: 1.5em;
}

table
{
    position: relative;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}

h2 {
    margin: 20px 0 10px 0;
    font-size: 70px;
    text-align: center;
}

h1::before {

    background-image: url('https://mona.lu/mona');
    padding: 0 20px;
    content: "";

}